<!DOCTYPE html>
<html lang="en">
{%extends "base.html" %}
{% load static %}
{% block title %}Обо мне{% endblock %}
{% block content %}
  <body>
    <h1>Творец всего вот этого </h1>
    <p>Всем привет! Меня зовут Булат. Живу в Казани, мне 26лет.</p>
    <p>Я начинающий программист Python написал этот проект в учебных целях.</p>
    <p>
      Обожаю копаться в программах и компьютерах. Уже в 7 лет я взламывал компьютерные игры через блокнот, а в 12 собрал свой первый личный ПК.
    </p>
    <p> Имею степень магистра, Закончил Физико-Математический Факультет КНИТУ-КАИ имени Туполева.</p>
    <p> Так же ездил обучаться в Германию на 6 месяцев как студент по обмену.</p>
    <p> Свободно владею английским языком</p>
    <img src="{% static 'img/for_static_page/work_space.png' %} " >
      <p>Это мое рабочее место</p>
  </body>
{% endblock %}
</html>