<!DOCTYPE html>
<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Когда пытаюсь разобраться в urls>views>templates</p>
    <img src="{% static 'img/for_static_page/tech.jpg' %} " width="350" height="300"  >
  </article>
</div>
{% endblock %}